<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Delete Book</title>
  </head>
  <body>
    <h1>Delete Book</h1>
    <div>
      <p>Are you sure you want to delete {{book.title}}?</p>
      <form action="{{url_for('deleteBook', book_id=book.id)}}" method = 'POST'>
        <input type='submit' value='Delete'>
        <a href="{{url_for('showBook')}}">Cancel</a>
      </form>
    </div>
  </body>
</html>