<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Edit book</title>
  </head>
  <body>
    <h1>Edit Book</h1>
    <div>
      <p>Name:</p>
      <form action="{{url_for('editBook', book_id=book.id)}}" method = 'POST'>
        <input type='text' size='30' name='title' placeholder="{{book.title}}">
        <input type='submit' value='Edit'>
        <a href="{{url_for('showBook')}}">Cancel</a>
      </form>
    </div>
  </body>
</html>