<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>New book</title>
  </head>
  <body>
    <h1>New Book</h1>
    <div>
      <p>Name:</p>
      <form action="{{url_for('newBook')}}" method = 'POST'>
        <input type='text' size='30' name='title'>
        <input type='submit' value='Create'>
      </form>
    </div>
  </body>
</html>