<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Books</title>
  </head>
  <body>
    <h1>Books</h1> 
    {% if books == [] %}
	    <p>No books exist</p>	
    {% else %}
      {% for i in books %}
        <div> 
          {{i.title}}<br/>
          <a href="{{url_for('editBook',book_id=i.id)}}">Edit books</a> <br/>
          <a href="{{url_for('deleteBook', book_id=i.id)}}">Delete books</a><br/>
          <br/> <br/>
        </div>
      {% endfor %}
    {% endif %}
  </body>
</html>